@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,200;1,400&display=swap');

*,*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

body{
    height:100vh;
    background: linear-gradient(120deg, rgb(231, 153, 153),rgb(226, 185, 185));
}

.container{
    background-color: beige;
    width: 85%;
    min-width: 360px;
    padding: 20px 50px;
    transform:translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top:50%;
    border-radius: 12px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}

h1{
    font-size: 30px;
    text-align: center;
    color: teal;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

label{
    color: slategrey;
    font-size: 14px;
    text-align: justify;
}

textarea,input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1.2px slategrey;
    margin-top: 5px;
}
textarea{
    resize: none;
}
textarea:focus,input:focus{
    outline: none;
    border-color: slategrey;
}

input[type=radio]{
    width: 10%;
    padding: 2px 2px;
}

input[type=submit]{
    width:100px;
    border: none;
    padding: 10px 20px;
    background: linear-gradient(110deg,rgb(223, 160, 160),rgb(226, 185, 185) );
    color: teal;
    border-radius: 5px;
}

@media only screen and (max-width: 540px) {

    .container{
        margin-top: 250px;
        padding: 60px;
    }
    
    
  }